:root {
    --pink: #DEC3BE;
    --black: #282834;
    --white: #D2DAD6;
    --blue: #3581B8;
    --rose: #C62E65;
  }

body, h1, h2, h3 {
    font-weight:normal;
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  background: var(--pink); 
  color: var(--black);
}

h1 {
  margin: 0px auto 50px;
  font-family: 'Fredericka the Great', 'Times New Roman', Times, serif;
  font-size: 5.5rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;

}

.top-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;

}

.para {
    margin-bottom: 20px;

}

.btn-container{
    padding-bottom: 20px;
}

a.btn:link, a.btn:visited {
  position: relative;
  display: block;
  width: 320px;
  margin: 30px auto 0;
  padding: 18px 15px 15px 15px;
  border: 2px solid #282834;
  background: rgba(40, 40, 52, 0);
  color: #282834;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  letter-spacing: .08rem;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a.btn:link:after, a.btn:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #282834;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
a.btn:link:hover, a.btn:visited:hover {
  color: #f3cfcf;
  text-shadow: none;
}
a.btn:link:hover:after, a.btn:visited:hover:after {
  height: 420%;
}

a.btn:after {
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
a.btn.smooth:hover:after {
  height: 140%;
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.1rem;
  }


}

.footer{
position: fixed;
left: 0;

bottom: 0;
padding: 20px;
width: 100%;

/* max-width: 800px; */
margin-left: auto;
margin-right: auto;

color: white;
text-align: center;

z-index: 10;
font-family: 'Special Elite', 'Courier New', Courier, monospace;
background: #282834; 


}

.footer-text {
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding-left: 20px;
padding-right: 20px;
line-height: 1.5;
font-size: 1.2rem;

/* unvisited link */
  a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #f3cfcf;
  }
  
  /* selected link */
  a:active {
    color: #f3cfcf;
  } 


}

.icon-container {
    font-size: 4rem;
    color: white;
  }
  
  .fa-brands {
    margin: 10px;
    color: white;
    /* -webkit-text-fill-color: transparent; */
    text-decoration: none;
    transition: 0.5s;
  }
  
  /* .fa-linkedin-in {
    background: -webkit-linear-gradient(135deg, #D6FF7F 10%, #00B3CC 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .fa-facebook-f {
    background: -webkit-linear-gradient(#D6FF7F 10%, #00B3CC 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .fa-instagram {
    background: -webkit-linear-gradient(45deg, #D6FF7F 10%, #00B3CC 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
   */
  .fa-brands:hover {
    opacity: 0.5;
    transition: 0.5s;
  }