body {

    background: #077187;
    background-image: linear-gradient(to top, #077187, #02879b, #029eaf, #11b6c1, #25ced1);
    background-image: -webkit-linear-gradient(to top, #077187, #02879b, #029eaf, #11b6c1, #25ced1);
    background-image: -moz-linear-gradient(to top, #077187, #02879b, #029eaf, #11b6c1, #25ced1);


    color: #ECFBFE;
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    line-height: 1.5;
    max-width: 100%;
}


img {
  width: 40%;
}

div {
    width: 40%;
    text-align: center;
    position: absolute;
	top: 3rem;
	bottom: 0;
	left: 0;
	right: 0;
  	margin: auto;
}

h1 {
    font-family: 'Fredericka the Great', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 3.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0px;
}

p {
    font-size: 1.3rem;
    font-weight: normal;
    margin: auto;
    padding: 0px 0px 50px 0px;
    text-align: justify;
}

@media  screen and (max-width: 1200px) {

    div {
        width: 70%;
    }


@media  screen and (max-width: 700px) {

    div {
        width: 90%;
        top: 1rem;
    }

    h1 {
        padding: 1rem 0rem;
        font-size: 2.6rem;
    }

    img {
        width: 260px;
    }

    p {
        font-size: 1.25rem;
    }
}
}